spring:
  profiles:
    group:
      local : "local"
      dev : "dev"
      prod : "prod"
    active : dev

server:
  port: 8083
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
    multipart:
      max-file-size:  100MB
      max-request-size: 120MB

  devtools:
    remote:
      restart:
        enabled: true


mybatis:
  type-aliases-package: kr.co.fiven.sdadivingapi.vo
  mapper-locations: mappers/*.xml
#  configuration:
#    multiple-result-sets-enabled: false
#    map-underscore-to-camel-case: false
#    call-setters-on-nulls: true
#    jdbc-type-for-null: varchar
#    default-fetch-size: 500

logging:
  level:
    com:
      zaxxer:
        hikari: INFO
    javax:
      sql:
        DataSource: OFF
    jdbc:
      audit: OFF
      resultset: OFF
      resultsettable: INFO  #SQL 결과 데이터 Table을 로그로 남긴다.
      sqlonly: OFF     #SQL만 로그로 남긴다.
      sqltiming: INFO    #SQL과 소요시간을 표기한다.
      connection : OFF  # 커넥션 확인가능
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE


---
spring:
  config :
      activate:
        on-profile: local
  datasource:
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    url: jdbc:log4jdbc:sqlserver://172.30.1.7:1433;DatabaseName=KS_Swimming;encrypt=true;trustServerCertificate=true;useUnicode=yes&characterEncoding=UTF-8&serverTimezone=Asia/Seoul
    username: splog_ekS1dlP9djT0fl
    password: slogp_#f(6+!2!j+g04*alN9kO3
---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    url: jdbc:sqlserver://172.30.1.7:1433;DatabaseName=KS_Swimming;encrypt=true;trustServerCertificate=true;useUnicode=yes&characterEncoding=UTF-8&serverTimezone=Asia/Seoul
    username: splog_ekS1dlP9djT0fl
    password: slogp_#f(6+!2!j+g04*alN9kO3
---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    url: jdbc:sqlserver://49.247.9.88:1433;databaseName=KS_Swimming;encrypt=true;trustServerCertificate=true;useUnicode=yes&characterEncoding=UTF-8&serverTimezone=Asia/Seoul
    username: splog_ekS1dlP9djT0fl
    password: slogp_#f(6+!2!j+g04*alN9kO3



        #### database ######
        #spring.datasource.driver-class-name=com.microsoft.sqlserver.jdbc.SQLServerDriver
        #spring.datasource.url=jdbc:sqlserver:49.247.9.88;databaseName=KS_Swimming
        #spring.datasource.username=splog_ekS1dlP9djT0fl
        #spring.datasource.password=splog_ekS1dlP9djT0fl
        #
        ##mybatis
        #mybatis.configuration.cache-enabled=false
        #mybatis.configuration.use-generated-keys=true
        #mybatis.configuration.lazy-load-trigger-methods=false
        #mybatis.configuration.default-executor-type=reuse
        #mybatis.configuration.jdbc-type-for-null=null
        #mybatis.configuration.call-setters-on-nulls=true



